*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.idea/kotlinScripting.xml
buildSrc/build/libs/buildSrc.jar
.DS_Store
/build
/captures
.externalNativeBuild
buildSrc/build/*
